<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/static/common.css}">
    <title>home</title>
</head>
<body>





<script th:src="@{static/javascript/userInfo.js}"></script>
<div id="user-info"></div>
<br><br>

<button onclick="findMyStyle()" > 내 이상형 찾기 </button>
</body>
<script>
    const findMyStyle = () => {
        location.href="/match/matchProfiles"
    }
</script>

<br><br>

<button onclick="listall()" > 전체회원보기 </button>
</body>
<script>
    const listall = () => {
        location.href="/profile/list"
    }
</script>

<br><br>

<div>
    <button onclick="saveProfile()">프로필을 등록 해주세요.</button>
</div>
</body>
<script>
    const saveProfile = () => {
        location.href="/profile/save"
    }
</script>
</html>