<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div sec:authorize="hasAuthority('USER')">
    <p th:text="'로그인 성공, '+${#authentication.name}+'님 환영합니다!(main)'"></p>
    <button onclick="location.href='/logout'">로그아웃</button>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <p th:text="'관리자 로그인 성공, '+${#authentication.name}+'님 환영합니다!(main)'"></p>
    <button onclick="location.href='/logout'">로그아웃</button>
</div>


<br><br>


<button onclick="findMyStyle()" > 내 이상형 찾기 </button>
</body>
<script>
    const findMyStyle = () => {
        location.href="/match/matchProfiles"
    }
</script>


<br><br>

<div>
    <button onclick="saveProfile()">프로필을 등록 해주세요.</button>
</div>
</body>
<script>
    const saveProfile = () => {
        location.href="/profile/save"
    }
</script>
</html>