<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/static/common.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/profileList.css}">
    <title>list Profile</title>

    <!--개인회원 프로필 등록 완료된 페이지-->
</head>
<body>
<!-- 배경, 헤더 이미지 css -->
<img src="/static/image/BG.svg" alt="Background" id="bg">
<img src="/static/image/header.svg" alt="Header" id="header">
<!-- 네비게이션 바 -->
<div>
    <header>
         <nav>
             <a th:href="@{/notice/user/usernoticelist}">공지사항</a>
             <a href="#">채팅</a>
             <a th:href="@{/date/datesearch}">데이트 컨텐츠</a>
             <a th:href="@{/profile/list}">MY Profile</a>
             <a th:href="@{/logout}">LOGOUT</a>
         </nav>
    </header>
</div>

<div class="container">
<div class="content-container">
        <h1>전체 회원들</h1>
        <div class="profile-container" th:each="profileList: ${profileDTOList}">
            <div class="profile-box">
            <p th:text="${profileList.profileNo}"></p>
            <p th:text="${profileList.profileName}"></p>
            <p th:text="${profileList.profileGender}"></p>
            </div>
        </div>
        <br><br>
        <div class="footerBTN">
            <br>
            <button onclick="findMyStyle()" class="footButton"> 내 이상형 찾기(하영님 파트로 이동) </button>
            <button onclick="moveToJenny()" class="footButton"> 다영님 파트로 이동 </button>
            <button onclick="moveToNotice()" class="footButton"> 공지사항(주연님 파트로 이동) </button>
            <button onclick="saveProfile()" class="footButton"> 프로필을 등록 해주세요.</button>
        </div>
</div>
</div>




</body>


<script>
    // 하영님 파트
    const findMyStyle = () => {
        location.href="/match/matchProfiles"
    }

    const moveToJenny = () => {
        location.href="/date/datesearch"
    }

    const moveToNotice = () => {
        location.href="/notice/user/usernoticelist"
    }

    const saveProfile = () => {
        location.href="/profile/save"
    }

</script>
</html>


