<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profileSaveForm</title>
    <!--개인회원 프로필 등록 진행하는 페이지-->
</head>
<body>
    <form action="/profile/save" method="post">
        Name: <input type="text" name="profileName"> <br>
        Gender: <input type="text" name="profileGender"> <br>
        Age: <input type="text" name="profileAge"> <br>
        Height: <input type="text" name="profileHeight"> <br>
        MBTI: <input type="text" name="profileMBTI"> <br>
        Location: <input type="text" name="profileLocation"> <br>
        <input type="submit" value="sendToDB">
    </form>
</body>
</html>
<!--        contents: <textarea name="boardContents" cols="30" rows="10"></textarea> <br>-->
<!--        enctype="multipart/form-data"-->
<!--        file: <input type="file" name="boardFile"> <br>-->