/* 전체 페이지 기본 스타일 */
body, html {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden; !* 스크롤바 제거 *!*/
    font-family: Arial, sans-serif;
}

/* 배경 이미지 */
#bg {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 화면을 꽉 채우도록 설정 */
    z-index: -3; /* 다른 요소들 뒤에 위치 */
}

/* 헤더 이미지 */
#header {
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    z-index: -2; /* 배경 위, 다른 요소들 아래에 위치 */
}

/* 푸터 이미지 스타일 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -2; /* 배경 위, 다른 요소들 아래에 위치 */

}

nav {
    position: absolute;
    right: 10%;
    top: 200px; /* 헤더 아래로 약간 내려오도록 조정 */
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 18px;
    z-index: 2;
}

nav a {
    color: #333; /* 진한 색상으로 변경 */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s;
}

nav a:hover {
    color: #000; /* 마우스를 올렸을 때 색상 변경 */
}




