<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Match Profile List</title>

    <style>
        .profile-container {
            border: 1px black;
            display: flex;
            flex-wrap: wrap;
            margin: 30px; /* 중앙 정렬 */
        }

        .profile-box{
            border: 1px solid #ccc;
            padding: 10px;
            margin: 5px;
            width: 200px;
            height: 300px;
            box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
            text-align: center;
        }
    </style>

</head>
<body>
<h3>Login User</h3>
<h2>Match for <span th:text="${loginUser.profileName}"></span></h2>

<h1>Matches profile</h1>
     <div class="profile-container">
        <div class="profile-box" th:each="profile : ${matchResults}">
            <p th:text="${profile.profileName}"></p>
            <p th:text="${profile.profileGender}"></p>
            <p th:text="${profile.profileAge}"></p>
            <p th:text="${profile.profileHeight}"></p>
            <p th:text="${profile.profileMBTI}"></p>
            <p th:text="${profile.profileLocation}"></p>
            <p th:text="${profile.totalScore}"></p>
        </div>
     </div>

<button onclick="moveToPriority()" > 가중치 입력 페이지 </button>

<script>
    const moveToPriority = () => {
        location.href="/match/priority"
    }
</script>

</body>
</html>
