<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" th:href="@{/css/stylePHY.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/commonStyle.css}">
    <title>Match Profile List</title>


</head>
<body>
<!-- 배경, 헤더 이미지 css -->
<img src="/image/BG.svg" alt="Background" id="bg">
<img src="/image/header.svg" alt="Header" id="header">

<!-- 네비게이션 바 -->
<div>
    <header>
        <nav>
            <a th:href="@{/notice/user/usernoticelist}">공지사항</a>
            <a href="#">채팅</a>
            <a th:href="@{/date/datemain}">데이트 컨텐츠</a>
            <a th:href="@{/profile/list}">MY Profile</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </nav>
    </header>
</div>

<div class="container">
<h2 id="forName">Match for <span th:text="${loginUser.profileName}"></span></h2>

    <div class="content-container">
    <h1>Matches profile</h1>
         <div class="profile-container">
            <div class="profile-box" th:each="profile : ${matchResults}">
                <p th:text="${profile.profileName}"></p>
                <p th:text="${profile.profileGender}"></p>
                <p th:text="${profile.profileAge}"></p>
                <p th:text="${profile.profileHeight}"></p>
                <p th:text="${profile.profileMBTI}"></p>
                <p th:text="${profile.profileLocation}"></p>
                <p th:text="${profile.totalScore}"></p>
            </div>
         </div>
    </div>
</div>

<button onclick="listall()" > 전체회원보기 </button>
</body>
<script>
    const listall = () => {
        location.href="/profile/list"
    }
</script>


<button onclick="moveToPriority()" > 가중치 입력 페이지 </button>

<script>
    const moveToPriority = () => {
        location.href="/match/priority"
    }
</script>

</body>
</html>
